<h1>{{title}}</h1>
<p>{{date}}</p>
<p>Collection: {{collection}}</p>

{{{contents}}}

<h2>Next</h2>
{{next}}
<h2>Previous</h2>
{{previous}}
<h2>Global metadata</h2>
{{metadata}}
<h3>Path</h3>
{{path}}